* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #9a4497;
}

/* font */
.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #fefaf2;
  font-family: Roboto Slab;
  text-align: center;
  margin: 20px;
  margin-bottom: 1000px;
}

.container {
  width: 80%;
  margin: auto;
  box-sizing: border-box;
}

/* button */
.button {
  width: 236px;
  height: 3.5em;
  background-color: var(--primary);

  border-radius: 28px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button a {
  text-decoration: none;
  font-size: 22px;
  color: #fefaf2;
  font-weight: 500;
}

/* hero */
.container-hero {
  margin: auto;
  height: 570px;
  display: flex;
  justify-content: space-between;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero h1 {
  text-align: start;
  font-size: 5em;
}

.hero p {
  text-align: start;
  font-size: 23px;
  font-weight: 500;
}

.hero .form {
  display: flex;
  gap: 15px;
}

.form input {
  width: 350px;
  height: 4em;
  border-radius: 10px;
  padding-left: 20px;
}
.form input::placeholder {
  font-size: 20px;
  color: black;
}

.hero .hero-img {
  width: 500px;
  padding: 20px;
  place-self: center;
}

.hero-img img {
  width: 100%;
  height: 100%;
  margin: auto;
}

/* explore */
.explore {
  margin-top: 150px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 400px 1fr;
}

.summit {
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  gap: 25px;
  text-align: start;
  color: white;
  background-image: linear-gradient(to top, #d483c7 0%, #632461 130%);
  padding: 20px 35px 40px 35px;
}

.summit h1 {
  font-size: 50px;
}

.button-explore {
  background-color: white;
}
.button-explore a {
  color: black;
}

.explore-item-container {
  height: 100%;
  box-sizing: border-box;
  background-color: #16140c;
}

.explore-item {
  padding: 40px;
  display: flex;
}

.thumb {
  overflow: hidden;
  width: 350px;
  height: 180px;
  border-radius: 20px;
}

.thumb-1 {
  width: 330px;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-deskription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  padding: 0 80px;
  color: white;
}

.item-deskription h1 {
  font-size: 30px;
}
.item-deskription p {
  font-weight: 400;
}
.item-deskription a {
  font-size: 20px;
  color: white;
}

/* tour */
.tour-title-container {
  padding: 150px 0;
  text-align: left;
  display: flex;
  align-items: center;
}
.tour-title {
  font-size: 38px;
  flex: 0.7;
}
.tour-deskription {
  flex: 1;
  font-size: 18px;
  font-weight: 400;
}

.tour-thumb {
  height: 650px;
  background-image: url(img/tour-thumb.jpg);
  background-size: cover;
  position: relative;
}

.tour-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(3, 3, 3, 0.5) 0%, rgba(238, 238, 238, 0.5) 100%);
  display: flex;
  align-items: center;
}

.tour-window {
  box-sizing: border-box;
  padding: 15px;
  width: 35%;
  height: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
}

.tour-window-img {
  width: 180px;
  height: 180px;
}
.tour-window-img img {
  width: 100%;
  height: 100%;
}
.tour-window h1 {
  font-size: 30px;
  font-weight: 400;
}
.tour-window p {
  font-weight: 400;
}
.tour-button {
  width: 180px;
}

/* service */
.service {
  margin-top: 130px;
}
.service-title-container {
  padding: 90px 0;
}
.service-title-container p {
  font-weight: 700;
}
.service-title-container h1 {
  font-size: 60px;
}

.service .testimoni {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20px;
}

.testimoni-thumb {
  width: 25%;
}
.testimoni-thumb img {
  width: 100%;
  height: 100%;
}

/* animation */
.slide-button {
  border: 2px solid gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-button i {
  font-size: 23px;
}
/* animation */

.testimoni-deskription {
  width: 60%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.testimoni-deskription h5 {
  font-size: 18px;
  font-weight: 600;
}
.testimoni-deskription p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 500;
}

.credit {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 60px;
}
.credit .credit-deskription p {
  font-size: 15px;
  font-weight: inherit;
}
/* animation */
.credit a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid black;
  color: black;
}
/* animation */

/* support */
.support-container {
  margin-top: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.support-thumb {
  width: 50%;
  height: 500px;
  border-radius: 40px;
  overflow: hidden;
}
.support-thumb img {
  width: 100%;
  height: 100%;
}

.support-deskription {
  margin-left: auto;
  width: 40%;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.support-deskription h1 {
  font-size: 58px;
}
/* animation */
.support-button {
  background-color: white;
  border: 1px solid black;
}
.support-button a {
  color: black;
}
/* animation */
